.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  --ion-background-color: black;
  color: white;
}

ion-toolbar {
  width: 100%;
  --ion-color-base: white;
}

ion-title {
  text-align: center;
}

ion-searchbar {
  --ion-color-base: rgb(0, 0, 0);
  margin: 20px auto;
}

ion-list {
  width: 80%;
  margin: 0 auto;
}

ion-item {
  background-color: black;
}

ion-label {
  color: white;
  text-align: center;
}

div {
  text-align: center;
}
