*{
    --ion-background-color: black;
}
    ion-label {
    background-color: black;
     
}

.buttons.edit{
    background: linear-gradient(-345deg, #006cff 35%, #ff9300 65%);
    border: none;
    color: white;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
}

#idame{
    color: #ff9300;
}

#idazul{
    color: rgb(48, 98, 190);
}

.isTrue {
    color: green; /* Define a cor verde para 'true' */
  }
  
  .isFalse {
    color: red; /* Define a cor vermelha para 'false' */
  }

 